
@{ 
    ViewBag.Title = "DeadMetalSite";
}
<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
<center>
    <div class="divBorder">
        <h1 style="font-family:Orbitron; color:lawngreen; margin-top:8px">MEDIA</h1>

        <img class="ImageBorder" src="~/Images/twootcat.png" />
        <img class="ImageBorder"src="~/Images/CharacterCreation.jpg" />
        <img class="ImageBorder"src="~/Images/darkback.png" />
        <img class="ImageBorder" src="~/Images/Exploring.jpg" />
        <img class="ImageBorder" src="~/Images/testsignuppage.png" />
        <img class="ImageBorder"src="~/Images/tweeeeet.png" />
        <img class="ImageBorder" src="~/Images/tweetmultiplayer.png" />
        <img class="ImageBorder" src="~/Images/websitemenupic.jpg" />


    </div>
</center>