
@{
    ViewBag.Title = "DeadMetalSite";
}
<center>
    <div class="divBorder">
        <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">


        <div>
            <div class="TextBorder" style="max-width:400px; margin-top:210px; margin-left:70px; font-family:Orbitron">
                <h1 style="font-family:Orbitron; color:lawngreen; margin-top:8px">Create</h1>
                Play with friends in Dead Metal's online multiplayer modes.  Play with friends in Dead Metal's online multiplayer modes.  Play with friends in Dead Metal's online multiplayer modes.  Play with friends in Dead Metal's online multiplayer modes.  Play with friends in Dead Metal's online multiplayer modes.  Play with friends in Dead Metal's online multiplayer modes.
            </div>
            <img class="ImageBorder" src="~/Images/tweetmultiplayer.png" />
        </div>



        <div>
            <div class="TextBorder" style="max-width:400px; margin-top:150px; margin-right:70px; float:right; font-family:Orbitron">
                <h1 style="font-family:Orbitron; color:lawngreen; margin-top:8px">Create</h1>
                Play with friends in Dead Metal's online multiplayer modes.  Play with friends in Dead Metal's online multiplayer modes.  Play with friends in Dead Metal's online multiplayer modes.  Play with friends in Dead Metal's online multiplayer modes.  Play with friends in Dead Metal's online multiplayer modes.
            </div>

            <img class="ImageBorder" src="~/Images/twootcat.png" />
        </div>



        <div>
            <div class="TextBorder" style="max-width:400px; margin-top:200px; margin-left:70px; font-family:Orbitron">
                <h1 style="font-family:Orbitron; color:lawngreen; margin-top:8px">Create</h1>
                Play with friends in Dead Metal's online multiplayer modes.  Play with friends in Dead Metal's online multiplayer modes.  Play with friends in Dead Metal's online multiplayer modes.
            </div>
            <img class="ImageBorder" src="~/Images/tweeeeet.png" />

        </div>
    </div>
</center>
