@{
    ViewBag.Title = "Home Page";
}
<center>
    <div class="divBorder">



        <div>
            <div class="TextBorder"style="position:absolute; max-width:500px; margin-top:165px">
                Play with friends in Dead Metal's online multiplayer modes.
            </div>
            <img class="ImageBorder" src="~/Images/tweetmultiplayer.png" />
        </div>



        <div>
            <div class="TextBorder" style="position:absolute; max-width:500px; margin-top:130px">
                Play with friends in Dead Metal's online multiplayer modes.
            </div>

            <img class="ImageBorder" src="~/Images/twootcat.png" />
        </div>



        <div>
            <div class="TextBorder"style="position:absolute; max-width:500px; margin-top:150px">
                Play with friends in Dead Metal's online multiplayer modes.
            </div>
            <img class="ImageBorder" src="~/Images/tweeeeet.png" />
          
        </div>
    </div>
    </center>
